langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
chromadb
pypdf
pymupdf
pdfplumber
python-docx
openpyxl
pandas
unstructured
python-pptx
beautifulsoup4
lxml
fastapi
uvicorn
python-multipart
tiktoken
huggingface-hub
rank-bm25
requests
newspaper3k
schedule
duckduckgo-search
python-dotenv
google-genai
groq
langdetect
deep-translator
ddgs